# Ignore __pycache__
**__pycache__**
# Ignore macOS's .DS_Store
.DS_Store
# Ignore Pycharm's .idea
.idea
# Contains raw data created by scripts for testing
data
# Ignore test.py
scripts/analysis/test.py
# Ignore Jupyter Notebook Checkpoints
.ipynb_checkpoints